@model RegisterVm
<div class="container" style="padding-top: 200px">
    <form asp-controller="Account" asp-action="Register" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input asp-for="Username" type="text" class="form-control" id="Username" placeholder="Add Username...">
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" id="Name" placeholder="Add Name...">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label for="Surname" class="form-label">Surname</label>
            <input asp-for="Surname" type="text" class="form-control" id="Surname" placeholder="Add Surname...">
            <span class="text-danger" asp-validation-for="Surname"></span>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="Add Email...">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Add password...">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label for="Confirmpassword" class="form-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="Confirmpassword" placeholder="Add ConfirmPassword...">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div>
        <p>Already have an account? <a asp-controller="Account" asp-action="Login">Login</a></p>
    </div>
</div>
